// ==== MONOCHROME SHADES =====================================================
 
$white: #fff;
$light-gray: #e4e4e4;
$gray: #9B9B9B;
$dark-gray: #4A4A4A;
$black: #171717;
$trueBlack: #000;

// ==== PRIMARY COLORS ========================================================

$primary-shade-1: #AECFEA;
$primary-shade-2: #98BAD8;
$primary-shade-3: #789BBD;
$primary-shade: #587CA3;

// ==== SECONDARY COLORS ======================================================

$secondary-color: #FBF8F6;