html[data-theme="dark"] {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A0A5AE;
  --color-text-tertiary: #858B97;
  --color-text-reverse: #000000;
  --color-text-link-idle: #61A7FF;
  --color-text-link-hover: #4C87F9;
  --color-text-link-active: #395CAB;
  --color-link-background: #233666;
  --color-text-destructive-idle: #FEA69A;
  --color-text-destructive-hover: #B85143;
  --color-text-destructive-active: #9C4438;
  --color-bg-primary-idle: #000000;
  --color-bg-primary-hover: #35383E;
  --color-bg-primary-active: #474D55;
  --color-bg-secondary-idle: #35383E;
  --color-bg-secondary-hover: #474D55;
  --color-bg-secondary-active: #59606A;
  --color-border-default: #474D55;
  --color-border-moderate: #59606A;
  --color-border-bold: #6A727E;
  --color-border-strong: #D2D5D9;
  --color-border-focus: #61A7FF;
  --button-primary-bg-idle: #61A7FF;
  --button-primary-bg-hover: #4C87F9;
  --button-primary-bg-active: #395CAB;
  --button-primary-text: #FFFFFF;
  --button-neutral-bg-idle: #35383E;
  --button-neutral-bg-hover: #474D55;
  --button-neutral-bg-active: #59606A;
  --button-neutral-border-idle: #474D55;
  --button-neutral-border-hover: #59606A;
  --button-neutral-border-active: #6A727E;
  --button-neutral-text: #FFFFFF;
  --button-ghost-text: #FFFFFF;
  --button-ghost-bg-hover: #474D55;
  --button-ghost-bg-active: #59606A;
  --checkbox-text: #FFFFFF;
  --checkbox-icon: #FFFFFF;
  --checkbox-bg-unchecked-idle: #000000;
  --checkbox-bg-unchecked-hover: #35383E;
  --checkbox-bg-unchecked-active: #474D55;
  --checkbox-bg-checked-idle: #61A7FF;
  --checkbox-bg-checked-hover: #4C87F9;
  --checkbox-bg-checked-active: #395CAB;
  --checkbox-border-unchecked-idle: #474D55;
  --checkbox-border-unchecked-hover: #59606A;
  --checkbox-border-unchecked-active: #6A727E;
  --checkbox-border-checked-idle: #61A7FF;
  --checkbox-border-checked-hover: #4C87F9;
  --checkbox-border-checked-active: #395CAB;
  --chip-static-text: #FFFFFF;
  --chip-static-icon-idle: #A0A5AE;
  --chip-static-icon-hover: #FFFFFF;
  --chip-static-icon-active: #FFFFFF;
  --chip-static-bg: #35383E;
  --chip-static-border: #474D55;
  --chip-toggle-text: #FFFFFF;
  --chip-toggle-bg-unchecked-idle: #35383E;
  --chip-toggle-bg-unchecked-hover: #474D55;
  --chip-toggle-bg-unchecked-active: #59606A;
  --chip-toggle-bg-checked-idle: #233666;
  --chip-toggle-bg-checked-hover: #2F4A89;
  --chip-toggle-bg-checked-active: #395CAB;
  --chip-toggle-border-unchecked-idle: #474D55;
  --chip-toggle-border-unchecked-hover: #59606A;
  --chip-toggle-border-unchecked-active: #6A727E;
  --chip-toggle-border-checked-idle: #61A7FF;
  --chip-toggle-border-checked-hover: #61A7FF;
  --chip-toggle-border-checked-active: #61A7FF;
  --radio-text: #FFFFFF;
  --radio-icon: #FFFFFF;
  --radio-bg-unchecked-idle: #000000;
  --radio-bg-unchecked-hover: #35383E;
  --radio-bg-unchecked-active: #474D55;
  --radio-bg-checked-idle: #61A7FF;
  --radio-bg-checked-hover: #4C87F9;
  --radio-bg-checked-active: #395CAB;
  --radio-border-unchecked-idle: #474D55;
  --radio-border-unchecked-hover: #59606A;
  --radio-border-unchecked-active: #6A727E;
  --radio-border-checked-idle: #61A7FF;
  --radio-border-checked-hover: #4C87F9;
  --radio-border-checked-active: #395CAB;
  --switch-track-bg-unchecked-idle: #000000;
  --switch-track-bg-unchecked-hover: #35383E;
  --switch-track-bg-unchecked-active: #474D55;
  --switch-track-bg-checked-idle: #E0F0FF;
  --switch-track-bg-checked-hover: #B3D8FF;
  --switch-track-bg-checked-active: #89C1FF;
  --switch-track-border-unchecked-idle: #474D55;
  --switch-track-border-unchecked-hover: #59606A;
  --switch-track-border-unchecked-active: #6A727E;
  --switch-track-border-checked-idle: #61A7FF;
  --switch-track-border-checked-hover: #61A7FF;
  --switch-track-border-checked-active: #61A7FF;
  --switch-knob-bg-unchecked-idle: #35383E;
  --switch-knob-bg-unchecked-hover: #474D55;
  --switch-knob-bg-unchecked-active: #59606A;
  --switch-knob-bg-checked-idle: #4C87F9;
  --switch-knob-bg-checked-hover: #4C87F9;
  --switch-knob-bg-checked-active: #395CAB;
  --switch-knob-border-unchecked-idle: #474D55;
  --switch-knob-border-unchecked-hover: #59606A;
  --switch-knob-border-unchecked-active: #6A727E;
  --switch-knob-border-checked-idle: #61A7FF;
  --switch-knob-border-checked-hover: #61A7FF;
  --switch-knob-border-checked-active: #61A7FF;
  --tabs-text: #FFFFFF;
  --tabs-bg-unchecked-idle: #35383E;
  --tabs-bg-unchecked-hover: #474D55;
  --tabs-bg-unchecked-active: #59606A;
  --tabs-bg-checked-idle: #233666;
  --tabs-bg-checked-hover: #2F4A89;
  --tabs-bg-checked-active: #395CAB;
  --tabs-border-unchecked-idle: #474D55;
  --tabs-border-unchecked-hover: #474D55;
  --tabs-border-unchecked-active: #474D55;
  --tabs-border-checked-idle: #61A7FF;
  --tabs-border-checked-hover: #61A7FF;
  --tabs-border-checked-active: #61A7FF;
  --blob-gradient-start: #233666;
  --blob-gradient-stop: #395CAB;
}
